<h1><%= @user.email %></h1>

<%= link_to "New Debate", new_debate_path %>
<%= link_to "New Topic", new_topic_path %>
<p>List active topics that user is debating in</p>

<p>List history of past debates</p>
